<!DOCTYPE html>
<html>
<head>
	<title>CourseFlow</title>
</head>
<body onload="init()">
<p>Courseflow</p>
<div id="myDiagramDiv" style="border: solid 1px black; width:800px; height:800px"></div>

<script type="text/javascript" src="https://unpkg.com/gojs@1.8.29/release/go.js"></script>
<script type="text/javascript">
	// alert('courseflow')
	function init() {
    const $ = go.GraphObject.make;  // for conciseness in defining templates

    const myDiagram = $(go.Diagram, "myDiagramDiv",  // create a Diagram for the DIV HTML element
                  );

    // define a simple Node template
    myDiagram.nodeTemplate =
      $(go.Node, "Auto",  // the Shape will go around the TextBlock
        $(go.Shape, "RoundedRectangle", { strokeWidth: 0, fill: "white" },
          // Shape.fill is bound to Node.data.color
          new go.Binding("fill", "color")),
        $(go.TextBlock,
          { margin: 10 },  // some room around the text
          // TextBlock.text is bound to Node.data.key
          new go.Binding("text", "key"))
      );

    // but use the default Link template, by not setting Diagram.linkTemplate

    // create the model data that will be represented by Nodes and Links
    myDiagram.model = new go.GraphLinksModel(
    [
      { key: "Alpha", color: "#fff" },
      { key: "Beta", color: "red" },
      { key: "Gamma", color: "lightgreen" },
      { key: "Delta", color: "yellow" },
      { key: "Alpha", color: "#fff" },
      { key: "Beta", color: "red" },
      { key: "Gamma", color: "lightgreen" },
      { key: "Delta", color: "yellow" }
    ],
    [
      { from: "Alpha", to: "Beta" },
      { from: "Alpha", to: "Delta" },
      { from: "Beta", to: "Beta" },
      { from: "Gamma", to: "Delta" },
      { from: "Delta", to: "Alpha" },
      { key: "Alpha", color: "#fff" },
      { key: "Beta", color: "red" },
      { key: "Gamma", color: "lightgreen" },
      { key: "Delta", color: "yellow" }
    ]);
  }
</script>
</body>
</html>